<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="RESTful Web API Testing" name="description">
    <meta content="REST, API, Testing" name="keywords">
    <meta content="Christopher Reichert" name="author">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="ie=edge" http-equiv="x-ua-compatible">

    <title>About Us</title>

    <script id="boot" type="application/json">
        {"component":"site/Home.js","token":null,"props":{"isLoggedIn":false},"account":null,"msg":null,"id":null,"ultDest":null}
    </script>

    <link rel="icon" href="../static/img/icon.png" type="image/x-icon">
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/commons.css" type="text/css" rel="stylesheet">
    <link href="../static/css/site.css" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,700,300italic,400italic" type="text/css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-light bg-faded" data-reactid=".1tsg8migz5s.0">
        <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#site-nav" data-reactid=".1tsg8migz5s.0.0">
        </button>
        <div class="collapse navbar-toggleable-xs clearfix" id="site-nav" data-reactid=".1tsg8migz5s.0.1">
            <div class="container" data-reactid=".1tsg8migz5s.0.1.0">
                <a class="navbar-brand" href="index.html" data-reactid=".1tsg8migz5s.0.1.0.0">
                    <img alt="Handler-logo" src="../static/img/icon.png" style="display:inline-block;vertical-align:text-bottom;margin-right:5px;width:25px;height:auto;" data-reactid=".1tsg8migz5s.0.1.0.0.0"/>
                    <span data-reactid=".1tsg8migz5s.0.1.0.0.1">
                            DIVORCE CONSULTANT
                        </span>
                </a>
                <ul class="nav navbar-nav pull-md-right" data-reactid=".1tsg8migz5s.0.1.0.1">
                    <div class="nav-item" data-reactid=".1tsg8migz5s.0.1.0.1.1">
                        <li class="nav-item" data-reactid=".1tsg8migz5s.0.1.0.1.1.0">
                            <a href="search.html" data-reactid=".1tsg8migz5s.0.1.0.1.1.0.0">
                                <button type="button" class="btn btn-secondary-outline" data-reactid=".1tsg8migz5s.0.1.0.1.1.0.0.0">Products</button>
                            </a>
                        </li>
                        <li class="nav-item" data-reactid=".1tsg8migz5s.0.1.0.1.1.0">
                            <a href="people.html" data-reactid=".1tsg8migz5s.0.1.0.1.1.0.0">
                                <button type="button" class="btn btn-secondary-outline" data-reactid=".1tsg8migz5s.0.1.0.1.1.0.0.0">About Us</button>
                            </a>
                        </li>
                        <li class="nav-item" data-reactid=".1tsg8migz5s.0.1.0.1.1.0">
                            <a href="introduction.html" data-reactid=".1tsg8migz5s.0.1.0.1.1.0.0">
                                <button type="button" class="btn btn-secondary-outline" data-reactid=".1tsg8migz5s.0.1.0.1.1.0.0.0">Why DivorceConsultant?</button>
                            </a>
                        </li>
                        <li class="nav-item" data-reactid=".1tsg8migz5s.0.1.0.1.1.1">
                            <a href="job.html" data-reactid=".1tsg8migz5s.0.1.0.1.1.1.0">
                                <button type="button" class="btn btn-primary-outline" data-reactid=".1tsg8migz5s.0.1.0.1.1.1.0.0">Join Us</button>
                            </a>
                        </li>
                        <li class="nav-item" data-reactid=".1tsg8migz5s.0.1.0.1.1.1">
                            <a href="getHistory.action" data-reactid=".1tsg8migz5s.0.1.0.1.1.1.0">
                            </a>
                        </li>
                    </div>
                </ul>
            </div>
        </div>
    </nav>

    <link href="../static/css/cover.css" rel="stylesheet">

    <h2 id="details-heading">Current Positions</h2>

    <div class="container sections details">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                Sorry, we don't have any current position.
            </div>
            <div class="col-md-1"></div>
        </div>

        <div class="row"><div class="col-md-12 spacer"></div></div>
        <div class="row"><div class="col-md-12 spacer"></div></div>
        <div class="row"><div class="col-md-12 spacer"></div></div>
    </div>

</body>
</html>