body{
    background-color: #c6c6c6;
}

.container{
    /*border: 1px solid black;*/
    margin-top: 20px;
}

.search_panel{
    background-color: white;
    min-height: 100px;
    margin-top: 10px;
}

table img{
    width: 270px;
    height: 200px;
}

.located{
    position: absolute;
    left: 50%;
    display: none;
}

.loading{
    width:260px;
    height:56px;
    position: absolute;
    top:200px;
    left: -130px;

    line-height:56px;
    color:#fff;
    padding-left:60px;
    font-size:15px;
    background: #000 url(../img/loder.gif) no-repeat 10px 50%;
    opacity: 0.7;
    z-index:9999;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    border-radius:20px;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
}

#canvas{
    /*border: 1px solid black;*/
    margin-top: 30px;
    height: 400px;
    width: 800px;
}

table{
    width: 100%;
}
